.demo-elements-row {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
}

.demo-title-row {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 5rem;
}

.demo-card-row {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.modal-dialog {
  max-width: 600px;
  width: 90vw;
}

@media (max-width: 700px) {
  .modal-dialog {
    max-width: 98vw;
    width: 98vw;
  }
}
