.section-title {
  color: #662e9b;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem !important;
  margin-top: 5rem;
  text-align: center;
}

.frequents-section {
    margin-bottom: 3rem;
}