.footer-navbar {
  min-height: 5rem;
  padding-top: 0;
  padding-bottom: 2rem;
  margin-top: 0; /* removed margin-top to avoid white gap */
}

.footer-container {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-text {
  color: #fff;
  font-size: 0.9rem;
  margin-left: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
