.footer-navbar {
  min-height: 5rem;
  padding-top: 0;
  padding-bottom: 0 !important; /* override bootstrap default padding */
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-text {
  color: #fff;
  font-size: 0.9rem;
  margin: 0;
  line-height: 1.5rem;
}
