.round-title {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 1.2rem;
  padding-bottom: 0.5rem;
  color: #ff8223;
  text-shadow: 2px 2px 8px #ffe5b4;
  font-size: 3rem;
  font-weight: bold;
}

.round-cards-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  gap: 0.3rem;
  padding-top: 0.5rem;
  padding-bottom: 2rem; 
  width: 100%;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-color: #ff8223 #ffe5b4; 
  scrollbar-width: thin;
  margin-top: 12px; 
}

.round-circle-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 3.5rem;
  z-index: 2;
  margin: 0 0.6rem;
}

.round-card-item {
  width: 18rem;
  max-width: 18rem;
  min-width: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.6rem;
  height: 100%;
}

.card-sh {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 18rem;
  max-width: 18rem;
}

.round-next-title-row {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
  color: #ff8223;
  text-shadow: 2px 2px 8px #ffe5b4;
  font-size: 3rem;
  font-weight: bold;
}

.round-next-card-row {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.round-cards-row::-webkit-scrollbar {
  height: 14px;
  background: #ffe5b4;
  margin-top: 12px;
  border-radius: 8px;
}
.round-cards-row::-webkit-scrollbar-thumb {
  background: #ff8223;
  border-radius: 8px;
  border: 3px solid #ffe5b4;
}
.round-cards-row::-webkit-scrollbar-track {
  background: #ffe5b4;
  border-radius: 8px;
}

@media (max-width: 900px) {
  .round-cards-row {
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
  }
  .round-circle-btn-wrapper, .round-card-item {
    width: 100%;
    max-width: 100vw;
    margin: 0;
  }
}
